.cen{
    text-align: center;
    margin-bottom: 2rem;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(300deg, rgb(202, 241, 186) 20%,rgb(133, 156, 133) 90%);
}
.cent{
    text-decoration: none;
    text-align: center;
    margin-top: 2rem;                
}
.rem{
    text-decoration: none;
    padding: 1rem;
    background-color: black;
    color: bisque;
}
.rem:hover{
    background-color: bisque;
    color: black;
}